.dashboardContainer {
  display: flex;
}
.sidebarContainer {
  flex: 20%;
  background-color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1rem;
  position: sticky;
  top: 0;
}
.logo {
  width: 2.5rem;
}
.sidebarContent ul li a {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.sidebarContent ul li a img {
  width: 1.5rem;
}
.sidebarContent {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.text {
  color: #252525;
  font-family: DM Sans;
  font-size: 1.2rem;
  font-weight: 700;
  opacity: 0.4;
}

/* MAIN CONTAINER */
.mainContainer {
  flex: 80%;
}
.navbarContainer {
  background: #fff;
  padding: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.searchContainer {
  display: flex;
  align-items: center;
  width: 100%;
}
.searchContainer img {
  width: 1.1rem;
  height: 1.1rem;
  color: #231f20;
}
.searchContainer input {
  border: none;
  outline: 0;
  width: 25%;
}
::placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  opacity: 0.4;
}
.userProfile {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
}
.userAvatar{
  width: 45px;
  height: 45px;
}
.userInfo {
  /* display: flex;
  flex-direction: column; */
}
.username {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  color: #000000;
}
.role {
  font-size: 14px;
  color: #000000;
  opacity: 0.4;
}
.dashboardAnalysis {
  padding: 2rem;
  background: #e5eff4;
}
.dashbaordTitle {
  font-size: 2em;
  font-weight: bold;
}

.dashboardWrapper {
  margin-top: 2rem;
  height: 100%;
  display: flex;
}
.leftContainer {
  flex-basis: 25%;
}
.card {
  background-color: #fff;
  margin-bottom: 0.9rem;
  padding: 20px;
  border-radius: 5px;
}
.rightContainer {
  flex-basis: 75%;
  display: flex;
  flex-direction: column;
}
.toprightContainer {
  display: flex;
  flex-basis: 50%;
}
.rightContainer,
.flexItem {
  margin-left: 10px;
}
.flexItem {
  background-color: #fff;
  margin-bottom: 1rem;
  padding: 20px;
}
.topRightOne {
  flex-basis: 25%;
}
.topRightTwo {
  flex-basis: 75%;
}

.bottomrightContainer {
  display: flex;
  flex-basis: 50%;
}
.bottomRightOne {
  flex-basis: 35%;
}
.bottomRightTwo {
  flex-basis: 65%;
}

@media (max-width: 920px) {
  .dashboardWrapper {
    flex-direction: column;
  }
  .toprightContainer {
    flex-direction: column;
  }
  .bottomrightContainer {
    flex-direction: column;
  }
  .rightContainer,
  .flexItem {
    margin-left: 0px;
  }
}

@media (max-width: 768px) {
  .text {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .text {
    display: none;
  }
}
